{#
  STYLEGUIDE ONLY: This template is not brought into to Drupal.
#}
<div class="form-item js-form-type-checkbox">
 <input id="checkbox{{ key }}" name="checkbox" type="checkbox" checked="checked"> 
  <label for="checkbox{{ key }}">
    {{ checkbox_item }}
  </label>
</div>
