<a name="templates-layouts" id="templates-layouts"></a>

<div class="doc-text">
	<p>Templates drupal file location, layouts.yml, inheritance from twig, icons (where to find icons ai file), oc_patterns layouts vs global block regions. Some guides as to when to add new regions / layouts.</p>
</div>


