{#
 STYLEGUIDE ONLY: Not carried into Drupal. Highlight and Warning comes from cke styles.
#}
<p>NOTE: Small, highlight and warning are CKE styles.</p>

<div class="text pl-spacer">

	<p>Bold is used to indicate <strong>strong</strong> importance</p>

	<p>This text has added <em>emphasis</em></p>

	<p>This an <u>underline</u> example.</p>

	<p><small>This text is small for fine print, etc.</small></p>

	<p>Some <span class="highlight">highlighted</span> text</p>

	<div class="warning">This is some warning text.</div>

</div><!--end .text-->
