/* ==============
   SUPPORT BOOK NODE
===================== */
.node-type-support-book{
	.block-region-top{
		margin-bottom: 2em;
	}

	.block-region-main{
		.block-entityfieldnodebody{
			margin-bottom: 2em;
		}
	}

	.block-region-sidebar{
		@include tab{
			margin-top: .5em;
		}
	}
	
	//restricted access message
	.restricted{
		padding-top: 6em;
		text-align: center;
		@include auto;
		max-width: $max-width-text + 40px;
		padding-left: 20px;
		padding-right: 20px;
		& > div{
			border: 1px solid $border-rule;
			padding: 40px 30px;
		}
		@include tab{
			padding-top: 10em;
		}
		@include max-width{
			padding-top: 15em;
		}
	}
}//end support book


/* PATTERN LAB ONLY
----------------------- */
.pl .node--type-support_book{
	.sidebar{
		.pl-spacer{
			margin-top: 0;
		}
	}
}