/* ===============
   LANDING PAGE NODE
==================== */

.node--type-landing_page{
	.block-region-top{
		position: relative;
		.block-entity-fieldnodetitle{
			margin-top: 0;
		}
		.landing-header{
			&.background{
				//from node.scss
				@include background-banner;
			}
			//make room for page nav at tab when banner not used as background
			&:not(.background){
				@include tab{
					.field-node-title,.breadcrumb{
						float: left;
						width: 100%;
					}
				}
			}
			.text-wrapper{
				max-width: $max-width;
				@include auto;
			}
			.breadcrumb{
				margin-bottom: 1em;
				@include tab{
					float: left;
					width: 100%;
					margin-bottom: 1em;
				}
			}
			.field-banner{
				opacity: 0;
				//from 02-animations.scss
				@include animation('fadeIn 1.2s 1 forwards');
			}
			.field-node-title{
				margin-top: 0;
				margin-bottom: 1.5em;
				h1{
					margin: 0;
				}
			}
		}//end landing-header
		.page-menu{
			@include tab{
				top: 100%;
				bottom: auto;
			}
		}
	}//end block-regoin-top

	.field-banner{
		img{
			display: block;
			width: 100%;
		}
	}

	.block-region-main{
		//from node.scss
		@include main-content;
		.field.body{
			margin: 0 0 5em;
			p{
				&:first-child{
					font-size: 22px;				
				}
			}
		}
	}
}//end landing-page


/* PATTERN LAB ONLY
-------------------- */
.pl .node--type-landing_page{
	.field--name-field-oc-widgets{
		.pl-spacer{
			margin-top: 0;
		}
	}
}