<a name="toc" id="toc"></a>

<p> <small><strong>NOTE:</strong> Table of Contents links only work in the Documentation View ALL and Theme All modes.</small> </p>

<ol class="three-col themed">

	<li><h5>Overview</h5>
		<ol type="A">
			<li><a href="#fe-tools-tips">Front-End Tools & Tips</a></li>
			<li><a href="#pattern-lab">Pattern Lab</a></li>
		</ol>
	</li>

	<li><h5>Running the Theme</h5>
		<ol type="A">
			<li><a href="#npm-start">NPM Start</a></li>
			<li><a href="#pl-file-changes">Adding & Removing PL Files</a></li>
		</ol>
	</li>

	<li><h5>File Structure</h5>
		<ol type="A">
			<li><a href="#file-order">Atomic Order</a></li>
			<li><a href="#file-types">File Types</a></li>
			<li><a href="#pl-hidden-files">Pattern Lab Hidden Files</a></li>
		</ol>
	</li>

	<li><h5>Macros</h5>
		<ol type="A">
			<li><a href="#macros-overview">Overview</a></li>
			<li><a href="#macros-patterns">OC Patterns Macros</a></li>
		</ol>
	</li>

	<li><h5>Icons</h5>
		<ol type="A">
			<li><a href="#icons-svg">SVG</a></li>
			<li><a href="#background-sizing">Background Autosizing</a></li>
			<li><a href="#fa-integration">Font Awesome Integration</a></li>
		</ol>
	</li>

	<li><h5>Sass</h5>
		<ol type="A">
			<li><a href="#sass-overview">Overview</a></li>
			<li><a href="#sass-mixins">Mixins & Placeholders</a></li>
			<li><a href="#sass-linting">Linting</a></li>
			<li><a href="#sass-best-practice">Best Practices</a></li>
		</ol>
	</li>

	<li><h5>JS</h5>
		<ol type="A">
			<li><a href="#js-overview">JS Overview</a></li>
			<li><a href="#js-global">Global JS</a></li>
			<li><a href="#js-component">Component JS</a></li>
			<li><a href="#js-linting">ES Linting</a></li>
			<li><a href="#js-best-practices">Best Practices</a></li>
		</ol>
	</li>

	<li><h5>Accessibility</h5>
		<ol type="A">
			<li><a href="#access-overview">Overview</a></li>
			<li><a href="#access-color">Color Contrast</a></li>
			<li><a href="#access-aria">Aria</a></li>
			<li><a href="#access-best-practices">Best Practices</a></li>
		</ol>
	</li>

	<li><h5>Drupal Integration</h5>
		<ol type="A">
			<li><a href="#drupal-overview">Overview</a></li>
			<li><a href="#drupal-components">Components Module</a></li>
			<li><a href="#drupal-inheritance">Template Inheritance</a></li>
			<li><a href="#drupal-theme-debug">Theme Debugging</a></li>
			<li><a href="#drupal-best-practices">Best Practices</a></li>
		</ol>
	</li>

	<li><h5>Custom Templates</h5>
		<ol type="A">
			<li><a href="#templates-naming">Naming Conventions & File Location</a></li>
			<li><a href="#templates-twig">Twig Overview</a></li>
			<li><a href="#templates-layouts">New Layouts / Regions</a></li>
		</ol>
	</li>

	<li><h5>Per Site Customization</h5>
		<ol type="A">
			<li><a href="#site-specific-colors">Site Specific Colors</a></li>
			<li><a href="#site-specific-logo">Logo & Favicon</a></li>
			<li><a href="#site-specific-elements">New Elements</a></li>
		</ol>
	</li>

	<li><h5>Admin Theming & Scripts</h5>
		<ol type="A">
			<li><a href="#admin-oc-custom">OC Custom Module</a></li>
			<li><a href="#admin-paragraphs">Paragraph Icons</a></li>
			<li><a href="#admin-wysiwyg">WYSIWYG Styles</a></li>
		</ol>
	</li>

	<li><h5>Miscellaneous</h5>
		<ol type="A">
			<li><a href="#misc-dev">Dev Content/Config</a></li>
			<li><a href="#misc-git">Working with Git</a></li>
		</ol>
	</li>

	<li><h5>Additional Resources</h5>
		<ol type="A">
			<li><a href="#quick-reference">Quick Reference</a></li>
			<li><a href="#drush-commands">Drush Commands</a></li>
		</ol>
	</li>

<ol>

{% if meta %}
	<p> <small>{{ meta.description }}</small> </p>
{% endif %}
