
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- Drupal-specific files - UNCOMMENT AS NECESSARY -->
  <!-- may need to change these below based on path -->
  <script src="../../js/ready.min.js"></script>
  <script src="../../js/drupal.js"></script>
  <script src="../../js/underscore-min.js"></script>
  <script src="../../js/jquery.js"></script>
  <script src="../../js/jquery.once.min.js"></script>
  <script src="../../js/select2.min.js"></script>
  <script src="../../js/stacktable/stacktable.min.js"></script>
  <script src="../../js/swipebox//src/js/jquery.swipebox.js"></script>
  <script src="../../../../dist/scripts-styleguide.js"></script>
  <script>Drupal.attachBehaviors();</script>
  <script>
    $("select").once('selects').each(function(){  
        $( '.sg-pattern-example select' ).select2({
          placeholder: "Select an option"
        });
    });
  </script>

  <script>
    $(".node--type-landing_page select").once('landing_select').each(function(){  
        $(this).select2();
    });
  </script>

  <script>
    $(".field-oc-long-text table").once('stack').each(function(){  
        $(this).cardtable({myClass:'responsive-table'});
        $(document).ajaxComplete(function() {
            $('.layout-container table').cardtable({myClass:'responsive-table'});
        });
    });
  </script>
  </body>
</html>
