{#
 #  This files used as a quick reference for theme mixins.  Mixins used for theming in a sass file should also be included here.
#}

<p>This reference sheet defines grid breakpoint sizes and other size variables.</p>

{# BREAKPOINTS #}
<h3 class="mixin-group">Size Variables</h3>
<p>Defined in: breakpoints.scss</p>

<ul class="clean-list">
	<li><strong>$smallTab:</strong> 500px</li>
	<li><strong>$tab:</strong> 760px</li>
	<li><strong>$desk:</strong> 900px</li>
	<li><strong>$max-width:</strong> 1200px</li>
	<li><strong>$maxWidthText:</strong> 800px</li>
	<li><strong>$onlyTab:</strong> 760–899px</li>
	<li><strong>$mobileMenu:</strong> < 980px</li>
	<li><strong>$deskMenu:</strong> >= 980px</li>
</ul>