{#
 Drupal: This file is embedded in the site-footer.twig pattern lab file and in the footer-address Drupal block. The variables are placeholders for those files.
#}

<div id="block-footeraddress" class="block footer-address">
	{% block address_content %}
		<div class="field body">
			<ul>
				{% for line in address %}
					<li>{{ line.address_line }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endblock %}
</div>