<a name="fe-tools-tips" id="fe-tools-tips"></a>

<div class="doc-text">
	<div class="doc-section">
		<h4 class="doc-section-title">Front End Tools/Requirements</h4>
		<div class="doc-section-inner readable">
			<ul class="clean-list spaced">
				<li><a href="https://www.sublimetext.com/3">Sublime Text (or similar text editor)</a></li>
				<li><a href="https://www.iterm2.com/">iTerm</a> (recommended)</li>
				<li><a rhef="https://www.git-tower.com/mac/">Tower Git Client</a> (recommended)</li>
				<li><a href="https://www.adobe.com/creativecloud/plans.html?promoid=P3KMQYMW&mv=other">Adobe Creative Suite</a> (Photoshop / Illustrator)</li>
				<li><a href="https://www.npmjs.com/">NPM</a> (min version 5.5.1)</li>
				<li><a href="https://nodejs.org/en/">Node.js</a> (min versino 6.11.2)</li>
				<li>Virtual Machine requirements specified in the site repo Readme onboarding section.</li>
				<li>GitHub account and access to the site repo.</li>
				<li><a href="https://1password.com/">One Password</a> password manager (recommended)</li>
			</ul>
		</div>
	</div>
	<div class="doc-section">
		<h4 class="doc-section-title">Rules of the Road</h4>
		<div class="doc-section-inner readable">
			<p><strong>Push early and often—</strong> All EC D8 sites use a GitHub based workflow. Pushing early in a project and pushing frequently will help prevent you from falling behind other developer's working on the same repo and will make a rollback to an earlier commit easier if necessary.</p>
			<p><strong>Theme mobile first—</strong> All page mockups come with a mobile version (and often a tablet sized version as well). It is almost always best and easiest to theme from teh mobile version to the desktop version as most of the theme breakpoints run from small to large. Mobile versions are also usually less intricate than desktop so you can theme additively rather than subtractively.</p>
			<p><strong>Bite-sized theming—</strong> EC follows a component (atomic) approach to theming. We always try to theme the smallest chunks first and them put them together to complete the overall design. This helps ensure consistency while limiting repetition.</p>
			<p><strong>Everyone loves Chatty Cathy—</strong> All of your Sass, Twig and JS awesomeness might make perfect sense in your head while building, but for another developer (or even future you from 6 months from now) it can often be very painful and time consuming to pick appart what you were thinking. Comments are the best way to clear the path to easy and efficient development. The styles of commenting used by EC in each type file are covered in the best practice section for each type of theming.</p>
			<p><strong>Use all the things—</strong> Designs usually come with both .ai files and .jps. Its often most helpful to get all the sizes, colors and overall feel from the jpgs using Photoshop and then to do the type sizes using the Illustrator files.</p>
		</div>
	</div>
</div>

