<a name="fe-tools-tips" id="fe-tools-tips"></a>

<div class="doc-text">
	<p>Different softwares (sublime, iterm, tower. Frequent and descriptive comments. Push early and often. Theme mobile first. Component based theming. Photoshop and ai files for widths and font sizes.</p>
</div>

