<a name="pattern-lab" id="pattern-lab"></a>

<div class="doc-text">
	<div class="doc-section">
		<h4 class="doc-section-title">Pattern Lab Overview</h4>
		<div class="doc-section-inner">
			<p>Pattern Lab is a tool for creating atomic-based style guides for websites. OC Patterns uses Pattern Lab as its Drupal theme engine for template inheritance, Sass & JS compiling and other theme tasks, but OC Patterns is not meant to be a style guide that is passed on the to the client. At this time it is a tool for themer's only and as such is not deployed to git or viewed outside of a local development atmosphere.</p>
			<p>OC Patterns is based on the <a href="https://github.com/fourkitchens/emulsify">Emulsify</a> theme developed by Four Kitchens and as such we do not have 100% control over all node module aspects of the theme, but very little of the original Emulsify theme implementation is still left.</p>
		</div>
	</div>
</div>

