/* ===============
   VIDEO WIDGET
================= */

.paragraph--type--video{
	.wrapper{
		max-width: $maxWidth !important;
	}
	//allow video to override layout padding on mobile
	.field-oc-video{
		@include onlySmall{
			//from 01-mixins.scss
			@include edgeToEdge;
			//from 01-mixins.scss
			@include calc(max-width, "100% + 40px");
		}
	}
	//video summary
	.field-oc-long-text{
		max-width: $maxWidthText;
		//from 01-mixins.scss
		@include auto;
		margin-top: 1em;
	}
}//end video widget

