<a name="sass-mixins" id="sass-mixins"></a>

<div class="doc-text">
	<p>Differences, why we use primarily mixins, types of mixins, link to mixins reference (if can get to work from docs view all. Thoughts behind where a mixin goes and when to create new ones. How arguments & ifs work.</p>
</div>
