{#
  STYLEGUIDE ONLY: This template is not used in Drupal. It is also not used in any other Pattern Lab template either.
#}
<div class="pl notes">Superfish desktop main level link and dropdown. Theming example only.</div>
<div class="sf-mobile">
  <div class="pl notes">Mobile Menu - Grey background for contrast only</div>
  <ul id="#superfish-main-accordion" class="sf-menu sf-main sf-accordion sf-expanded sf-accordion-with-buttons">
    <li class="sf-depth-1 sf-no-children">
      <a class="sf-depth-1">Drop Link 1</a>
    </li>
    <li class="sf-depth-1 menuparent active-trail sf-expanded">
      <a class="sf-accordion-button" href="#">Expand</a>
      <a href="#" class="sf-depth-1 menuparent active-trail">Drop Link 2</a>
      <ul>
        <li class="sf-depth-2 sf-no-children">
          <a class="sf-depth-2">Drop Sub 1</a>
        </li>
        <li class="sf-depth-2 sf-no-children active-trail">
          <a class="sf-depth-2 is-active">Drop Sub 2</a>
        </li>
      </ul>
    </li>
    <li class="sf-depth-1 menuparent">
      <a class="sf-accordion-button" href="#">Expand</a>
      <a class="sf-depth-1">Drop Link 3</a>
      <ul class="sf-hidden">
        <li class="sf-depth-2 sf-no-children">
          <a class="sf-depth-2">Drop Sub 3</a>
        </li>
        <li class="sf-depth-2 sf-no-children">
          <a class="sf-depth-2 is-active">Drop Sub 4</a>
        </li>
      </ul>
    </li>
    <li class="sf-depth-1 sf-no-children">
      <a class="sf-depth-1">Drop Link 4</a>
    </li>
  </ul>
</div>

