{#
 STYLEGUIDE ONLY: Not carried into Drupal.
#}

<div class="body field-oc-long-text">
	<ul>
	  	<li>This is a list item in the top level list</li>
	  	<li>This is another list item.</li>
	  	<ul>
	  		<li>This is a nested unordered list item</li>
	  		<li>Another nested item</li>
	  		<li>Nesting things is great!!!</li>
	  	</ul>
	  	<li>This is an item after an nested list</li>
	</ul>
</div>


<strong>NOTE:</strong> This list styling is usually just used in wysiwyg fields.
