{#
  STYLEGUIDE ONLY: This template is not brought into to Drupal.
#}
<div class="js-form-item form-item js-form-type-textfield form-item-combine js-form-item-combine">
  <label for="edit-combine">Keyword(s)</label>
  <input data-drupal-selector="edit-combine" type="text" id="edit-combine" name="combine" value size="30" max-length="128" class="form-text" placeholder="Keyword(s)">
</div>

