{#
  STYLEGUIDE ONLY: This template is not brought into to Drupal.
#}
<form class="views-exposed-form">

	<div id="edit-actions" class="form-actions js-form-wrapper form-wrapper">
		<input class="button js-form-submit form-submit" value="Apply" type="submit">
		<input id="edit-reset" class="button js-form-submit form-submit" value="Reset" type="submit">
	</div>

</form>