{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}

<div class="block block-search-form-block">
	<a class="t-search" tabindex="-1" role="button"></a>
	{{ content }}
</div>