{#
 Drupal: This file is embedded in the site-footer.twig pattern lab file and in the footer-copyright Drupal block. The variables are placeholders for those files.
#}


<div id="block-footercopyright" class="block footer-copyright">
	{% block copyright_content %}
		<div class="field body">
			<p>{{ copyright }}</p>
		</div>
	{% endblock %}
</div>