///base colors
$body       : #4d4e4e;
$light-blue : #9acde8;
$blue       : #35729b;
$mid-teal   : #5a8c92;
$dark-blue  : #064771;
$orange     : #d38013;
$gold       : #efb61b;
$red        : #960430;
$light-grey : #ccc;
$mid-grey   : #6a7076;
$grey       : #ddd;
$dark-grey  : #222222;
$warmgrey   : #6f625a;
$off-white  : #f6f6f6;
$white      : #fff;
$black      : #000;
$highlighter: #f2dc26;
$warning    : #dd241b;


///transparents
$transparent-white  : rgba(255,255,255,0.7);
$transparent-black  : rgba(35,35,35,0.35);
$image-overlay      : rgba(35,35,35,0.4);
$gold-10            : rgba(239,182,27,0.1);
$gold-60            : rgba(239,182,27,0.6);
$gold-85            : rgba(254,191,0,0.85);
$red-30             : rgba(183,1,1,0.3);
$red-85             : rgba(204,17,3,0.85);
$blue-85            : rgba(0,203,254,0.85);
$green-85           : rgba(36,204,3,0.85);


///Randos
$green-good  : #218d00;
$red-bad     : #cd0210;
$unpublished : #fff4fa;
$unpublished-dark : #fdd5dd;


///Client Colors
$site-background: #f6f6f6;


///Link COLORS
$link        : #d52d00;
$active-link : #6a2600;
$hover-link  : #6a2600;
$button-back : #efb61b;
$button-back-hover: #c84700; 
