///base colors
$body       : #4d4e4e;
$lightBlue : #9acde8;
$blue       : #35729b;
$midTeal   : #5a8c92;
$darkBlue  : #064771;
$orange     : #d38013;
$gold       : #efb61b;
$red        : #960430;
$lightGray : #ccc;
$midGrey   : #6a7076;
$grey       : #ddd;
$darkGrey  : #222222;
$warmGrey   : #6f625a;
$offWhite  : #f6f6f6;
$white      : #fff;
$black      : #000;
$highlighter: #f2dc26;
$warning    : #dd241b;


///transparents
$transWhite  : rgba(255,255,255,0.7);
$transBlack  : rgba(35,35,35,0.7);
$imgOverlay      : rgba(35,35,35,0.4);


///Randos
$greenGood  : #218d00;
$redBad     : #cd0210;
$unpub : #fff4fa;
$unpubDark : #fdd5dd;


///Client Colors
$siteBack: #f6f6f6;
$borderRule: #222222;


///Link COLORS
$link        : #d52d00;
$activeLink : #6a2600;
$hoverLink  : #6a2600;
$buttonBack : #efb61b;
$buttonBackHover: #c84700; 
