/* ===============
   TABLES
============== */

///MIXIN TABLE
/// Default table styling
@mixin table{

  caption{
    font-weight: $heavy;
    margin-bottom: .5em;
  }

  td,th{
    padding: .25em .5em;
  }
  thead th{
    background: $mid-grey;
    color: $white;
  }

  tbody tr{
      //set table row colors
      &:nth-of-type(odd){
         background: $grey;
      }
      &:nth-of-type(even){
        background: $white;
      }
      th{
        background: $mid-grey;
        color: $white;
      }
      //give a bit extra room in the row on mobile
      @include onlysmall{
        td{
          padding: .5em 20px;
        }
        //style headers
        & > td.st-key{
          text-transform: uppercase;
          font-weight: $heavy;
        }
      }
  }//end tr
}//end table mixin


/* TABLE STYLING
-------------------- */
.body,.field-oc-long-text{
  table{
    @include table;
  } 
}


/* STACKTABLE
---------------- */
//stack table header on mobile
table{
  .st-key{
      font-size: 16px;
      width: 52%;
      max-width: 200px;
  }
  //stack table td on mobile
  .st-val{
      min-width: 48%;
      font-size: 17px;
      @include breakpoint (400px, true){
        @include calc(max-width, "100% - 200px");
    }
  }
}

.responsive-table{
  & > caption{
    display: none;
  }
}
//hide small stacktable by default
.stacktable{
  &.large-only{
    display: table;
  }
  &.small-only{
    display: none;
  }
}

//hide large stacktable at less than 760
@include onlysmall{
  .stacktable{
    &.large-only{
      display: none;
    }
    &.small-only{
      display: table;
      width: 100%;
      margin-bottom: .5em;
      td{
        display: inline-block;
      }
    }
  }
}