{#
  STYLEGUIDE ONLY: This template is not brought into to Drupal.
#}
<div class="body field-oc-long-text">
<table>
  <caption>Table caption</caption>
	<thead>
		<tr>
			<th>Heading</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
		</tr>
	</thead>
	<tbody>
  	<tr class="table__row">
  		<th>Row 1</th>
  		<td>Information about something</td>
  		<td>And this is important</td>
      <td>Peanuts</td>
      <td></td>
  	</tr>
  	<tr class="table__row">
      <th>Row 2</th>
      <td>Iguana</td>
      <td>My Little Pony</td>
      <td></td>
      <td></td>
  	</tr>
  	<tr class="table__row">
      <th></th>
      <td>Wafffles</td>
      <td></td>
      <td>Coconuts</td>
      <td></td>
  	</tr>
  	<tr class="table__row">
      <th>Row 4</th>
      <td>Pandas</td>
      <td>My Left Hand</td>
      <td>The Sky</td>
      <td>Paddle Boat</td>
  	</tr>
	</tbody>
</table>
</div>
