/* =================
   BRANDING BLOCK
=================== */

.block--system-branding{
	//from 01-mixins.scss  (vertically aligns header elements)
	@include inline-setup-center;
	a{
		> *{
			vertical-align: middle;
		}
		img{
			border: 1px solid transparent;
		}
		.site-name {
			font-size: 24px;
			color: $white;
			display: none;
		}
		&:hover,&:focus{
			text-decoration: none;
			img{
				border-color: $black;
			}
			.site-name{
				color: $black;
			}
		}
		@include tab{
			.site-name{
				font-size: 32px;
			}
		}
	}//end logo a

	//tagline / slogan
	.tagline{
		display: none;
	}
}