<a name="js-global" id="js-global"></a>

<div class="doc-text">
	<p>global js scripts, when something should be global vs component, see if can hook up pl scripts then add a section for pl scripts</p>
</div>
