<a name="js-best-practices" id="js-best-practices"></a>

<div class="doc-text">
	<p>behaviors, context, only use if absolutely necessary—can do a lot through css & twig, always use as specifically as possible, some debugging practices.</p>
</div>

