{#
  STYLEGUIDE ONLY: This template is not brought into to Drupal.
#}
 <div class="form-item js-form-type-datetime form-item-date">
   <label for="edit-date">Date</label>
   <div class="form-item js-form-type-date form-item-date-date">
    <input type="date" class="form-date" data-drupal-date-format="m/d/Y" name="date[date]" value size="12">
   </div>
 </div>