{#
 Drupal: This file is embedded in the site-header.twig pattern lab file and in the superfish main Drupal block. Menu alignment macros define the position in the header: left, right, center.
#}

{% import "@base/global/04-macros/macros.twig" as styles %}
{% extends "@molecules/menus/02-superfish/00-superfish.twig" %}

{% block superhide_start %}{# hide pl-only content #}{% endblock %}
     
      {% block superfish_main %}
          <div id="block-oc-patterns-mainnavigation" class="contextual-region block block-superfishmain {{ styles.menuAlign }}">
          	  {% block superfish_content %}
          	  	{% block superfish_mobile %}
          	  		<div class="sf-accordion-toggle sf-style-none">
          	  			<a id="superfish-main-toggle" href="#">
          	  				<span>Main Navigation</span>
          	  			</a>
          	  		</div>	
          	 	{% endblock %}
              	{{ parent() }}
   			  {% endblock %}
          </div>
      {% endblock %}
      

{% block superhide_end %}{# hide pl-only content #}{% endblock %}
