<a name="icons-svg" id="icons-svg"></a>

<div class="doc-text">
	<p>Sizing for icons, when to bring into sprite and when to just run as a file in the theme. Viewbox for social media and html svgs.</p>
</div>
