{#
 #  This files used as the canonical style variables guide.
 #  Variables set here will affect elements in both pattern lab and drupal unless otherwise noted.
 #
 #
 #  FOR ALL STYLE MACROS-use just plain css friendly text between the macro tags with no extra spaces, please. When changing macros, please change the Current= value as well.
 #
#}

<p>Macros set here define theming variables in their corresponding twig files in both Pattern Lab and Drupal.</p>


{#######  HEADER VARIABLES  #######}

{# SUPERFISH MENU
  --------------------
  set placement within the header
#}
<div class="macro-tile">
<p><strong>Superfish menu alignment</strong></br>
  VARIABLES= left, center, right</br>
  Current= right
</p>
</div>
{% macro menuAlign() %}right{% endmacro %}

{# SEARCH BOX/TOGGLE (in header)
  --------------------
  switch between the search box or a search toggler
#}
<div class="macro-tile">
<p><strong>Search Block</strong></br>
  VARIABLES= toggle, box</br>
  Current= toggle
</p>
</div>
{% macro searchBox() %}toggle{% endmacro %}



{#######  FORM VARIABLES  #######}
<div class="macro-tile">
<p><strong>Radio Form Elements</strong></br>
  VARIABLES= default, custom-options</br>
  Current= custom-options
</p>
</div>
{% macro radioElements() %}custom-options{% endmacro %}

<div class="macro-tile">
<p><strong>Checkbox Form Elements</strong></br>
  VARIABLES= default, custom-options</br>
  Current= custom-options
</p>
</div>
{% macro checkboxElements() %}custom-options{% endmacro %}


{#######  WIDGET VARIABLES  #######}

{# ACCORDION STYLES
  --------------------
  Set the color and indicator for accordions
#}
<div class="macro-tile">
<p><strong>Accordions</strong></br>
  COLOR VARIABLES= grey, red, black</br>
  INDICATOR VARIABLES= plus caret</br>
  Current= grey plus
</p>
</div>
{% macro accordionStyle() %}grey plus{% endmacro %}

{# SLIDER ARROW STYLES
  --------------------
  Set the arrow indicators for flexslider
#}
<div class="macro-tile">
<p><strong>Flexslider Arrows</strong></br>
  VARIABLES= large-caret, small-caret, triangle</br>
  Current= large-caret
</p>
</div>
{% macro sliderArrow() %}triangle{% endmacro %}



{#######  SVG VIEWBOX POSITIONS  ########}

{# SOCIAL MEDIA WIDGET ICONS 
  --------------------------- #}
<div class="macro-tile">
<p><strong>SOCIAL MEDIA WIDGET ICONS</strong></br>
  These variables define the viewbox positions.</br>
  DRUPAL= 240 80 80 80</br>
  FACEBOOK= 240 160 80 80</br>
  TWITTER= 320 320 80 80</br>
  LINKEDIN= 320 80 80 80</br>
  YOUTUBE= 400 0 80 80</br>
</p>
</div>
{% macro drupal()%}240 80 80 80{% endmacro %}
{% macro facebook()%}240 160 80 80{% endmacro %}
{% macro twitter()%}400 80 80 80{% endmacro %}
{% macro linkedin()%}320 80 80 80{% endmacro %}
{% macro youtube()%}400 160 80 80{% endmacro %}



{#######  FOOTER VARIABLES  #######}

{# FOOTER STYLES
  --------------------
  Fix the footer or not
  FOOTER VARIABLES= fixed   ---   leave blank for not fixed
#}
<div class="macro-tile">
<p><strong>FOOTER STYLE</strong></br>
  VARIABLES= fixed, not-fixed</br>
  Current= fixed
</p>
</div>
{% macro fixedFooter() %}fixed{% endmacro %}




