{#
  STYLEGUIDE ONLY: This template is not brought into to Drupal.
#}

<div class="form-item js-form-type-radio">
  <input id="radio{{ key }}" name="radio" type="radio" class="radio" checked="checked">
  <label for="radio{{ key }}">{{ radio_item }}</label>
</div>
