/* ===============
   NODES GLOBAL
=================== */
@mixin mainContentSide{
	//body
	.block-entity-fieldnodebody{
		max-width: $maxwidth;
		//from 01-mixins.scss
		@include auto;
		margin-bottom: 2em;
	}
	.block-entity-fieldnodefield-oc-widgets{
		max-width: $maxwidth;
		//from 01-mixins.scss
		@include auto
	}
}

@mixin mainContent{
	//body
	.block-entity-fieldnodebody{
		max-width: $maxwidthtext;
		//from 01-mixins.scss
		@include auto;
		margin-bottom: 2em;
	}
	.block-entity-fieldnodefield-oc-widgets{
		max-width: $maxwidth;
		//from 01-mixins.scss
		@include auto
	}
}


/* UNPUBLISHED NODES
---------------------- */
.node--unpublished{
	background: $unpublished;
	border-top: 20px solid $unpublished-dark;
}
