{#
	STYLEGUIDE ONLY: This template is not embedded into Drupal, but the style macros for flexslider nav arrow theming are used in both Pattern Lab and Drupal. Available variables: large-caret, small-caret, triangle.
#}

{{ slider_instructions }}
{% import "@base/global/05-macros/macros.twig" as styles %}

<div class="flex-wrap single pl-spacer">
	<div class="paragraph paragraph--type--slideshow">

			{% if widget_title %}
				<h2 class="widget-title">{{widget_title}}</h2>
			{% endif %}
	
			<div class="wrapper">
				
			</div>
			
	</div>
</div>
