<a name="site-specific-logo" id="site-specific-logo"></a>

<div class="doc-text">
	<p>Should always be svgs. Favicon generator and integrating with html.html.twig in headerInsert block. Getting the logo to actually update.</p>
</div>


