/* ===============
   SEARCH 	
================= */


/* SEARCH PAGE
------------------ */
.path-site-search{

	//prevent contextual links interference when logged in
	.views-element-container{
		position: static;
	}

	.page-main{
		position: relative;
	}

	.layout-content{
		padding: 2em 20px 0 !important; 
		.site-search{
			h1{
				@include tab{
					color: $black;
				}
			}
			.block-search-form-block{
				text-align: left;
				margin-bottom: 2em;
				display: block;
				width: 100%;
				.t-search{
					display: none;
				}
				#views-exposed-form-site-search-search-results{
					@include safeFlex(row,wrap,null,center);
					@include translateX(0);
					height: auto;
					position: static;
					max-width: 100%;
					width: 100%;
					.form-item-search-api-fulltext{
						@include safeFlexSize(0,1,280px);
						margin-right: 1em;
						label{
							display: none;
						}
						input{

						}
					}
					.form-actions input{
						margin-bottom: 0;
						padding: .5em 2.25em;
						position: static;
						background: $link;
						width: 132px;
						height: auto;
						text-indent: 0;
						&:hover,&:active,&:focus{
							background: $mid-grey;
							@include transThreeAll;
						}
						@include tab{
							padding: .5em 3em;
							width: 145px;
						}
						&:not(#edit-reset){
							margin-right: 10px;
						}
						&#edit-reset{
							background: $black;
							&:hover,&:focus,&:active{
								background: $mid-grey;
							}
						}
					}
				}//end foirm
			}//end block search form

			h2.results-header{
				margin-top: 2em;
				@include safeFlexSize(0,0,100%);
				padding-bottom: .5em;
				border-bottom: 1px solid $border-rule;
				margin-bottom: .5em;
			}
			.view-content,.view-empty{
				@include safeFlexSize(0,0,100%);
				margin-bottom: 3em;
			}
		}//site-search
	}//layout content
	
	

}//end search page




/* PATTERN LAB ONLY
------------------ */
.pl .search-header a{
	&:hover,&:focus{
		//from 03-animations.scss
		@include transThreeAll;
	}
}



