/* ===============
   LINKS N FILES WIDGET
================== */

.paragraph--type--links-files{

	//set margins for links and files lists
	.field-oc-link-multi,.field-oc-file-multi{
		margin-top: 1em;
		& > div{
			margin-bottom: .25em;
		}
	}

	//remove top margin to combine links and files lists
	.field-oc-link-multi + .field-oc-file-multi{
		margin-top: 0;
	}
}//end links-files widget

