<a name="pl-file-changes" id="pl-file-changes"></a>

<div class="doc-text">
	<p>Using numbers in front of file names, underscore in file names, npm errors on removal / addition / name change. Drush cr all if the file is a twig file.</p>
</div>

