<a name="admin-paragraphs" id="admin-paragraphs"></a>

<div class="doc-text">
	<p>Location of icons files in gdrive, custom node theming for new widget icons, dev config (link to dev-config section).</p>
</div>


