{#
  STYLEGUIDE ONLY: This template is not embedded into Drupal nor is it used in any other Pattern Lab template.
#}
<nav class="pager" role="navigation" aria-labelledby="pagination-heading">
  <ul class="pager__items js-pager__items">
    <li class="pager__item pager__item--first">
      <a href="#" title="Go to first page">
        <span>« First</span>
      </a>
    </li>
    <li class="pager__item pager__item--previous">
      <a href="#" title="Go to previous page">
        <span>‹‹</span>
      </a>
    </li>
    <li class="pager__item">
      <a href="#">
      <span>1</span>
      </a>
    </li>
    <li class="pager__item is-active">
      <a href="#" title="current-page">
      <span>2</span>
      </a>
    </li>
    <li class="pager__item">
      <a href="#">
      <span>3</span>
      </a>
    </li>
    <li class="pager__item pager__item--next">
      <a href="#" title="Go to next page">
        <span>››</span>
      </a>
    </li>
    <li class="pager__item pager__item--last">
      <a href="#" title="Go to last page">
        <span>Last »</span>
      </a>
    </li>
  </ul>
</nav>