{#
  STYLEGUIDE ONLY: This template is not embedded into Drupal nor is it used in any other Pattern Lab template.
#}
<nav role="navigation" aria-labelledby="pagination-heading">
  <ul class="js-pager__items">
    <li>
      <a href="#" title="Go to previous page">
        <span>‹‹</span>
      </a>
    </li>
    <li>Page 2</li>
    <li>
      <a href="#" title="Go to next page">
        <span>››</span>
      </a>
    </li>
  </ul>
</nav>