{#
  STYLEGUIDE ONLY: This template is not embedded into Drupal nor is it used in any other Pattern Lab template.
#}
<div class="pl block-flippy-block">
  <ul class="flippy">
    <li class="flippy-previous">
      <a href="#">Previous Flippy Item</a>
    </li>
    <li class="flippy-next">
      <a href="#">Next Flippy Item</a>
    </li>
  </ul>
</div>