///font families
$header      : "Open Sans", Helvetica, Arial, sans-serif;
$display-header      : "Raleway", Helvetica, Arial, sans-serif;
$bodyfont         : "Open Sans", Helvetica, Arial, sans-serif;
$serif        : Georgia, "Times New Roman", Times, serif;

//font weights
$light: 300;
$regular: 400;
$heavy:  700;
$x-heavy: 900;