/* ===========
FLEX ITEMS
============= */

/* WIDGETS FLEX ITEMS
--------------------- */
.flex-wrap{
  	// need mins so that js can calculate heights and widths
	min-height: 0;
	min-width: 0;
	&:not(.fill){
		flex: 0 0 100%;
	}
	//use auto for fill-remainder widget layout
	&.fill{
		flex: 1 1 auto;
	}

	//padding for widgets without color or image backgrounds (and views, accordions)
	&.backless{
		& > .paragraph:not(.paragraph--type--admin-view-placer):not(.paragraph--type--accordion-item){
			padding: 1em 20px;
		}

	}

	.wrapper{
		width: 100%;
		//set widget content wrappers to text width when in kermit
		.pl & ,.kermit .block-region-main &{
			max-width: $max-width-text;
			@include auto;
		}
	}

	@include tab{
		//allow full width widgets with backgrounds to go full width of screen
		&:not(.backless).single{
			.widget-color,.image{
				.kermit &,.pl &{
					@include calc(margin-right, "-50vw + 380px");
					@include calc(margin-left, "-50vw + 380px");
					//keep wrapper width in screen bounds
					h2.widget-title,.wrapper{
						@include calc(width, "100vw - 40px");
					}
				}
			}
		}
		//allow widgets with backgrounds  in columns to have an equal row height
		&:not(.single):not(.backless){
			.paragraph{
				height: 100%;
				.widget-color,.image{
					height: 100%;
				}
			}
		}
		&.quarter,&.third{
			flex: 0 0 50%;
		}
	}

	//percents at content width
	@include max-width{
		&.quarter{
			flex: 0 0 25%;
		}
		&.third{
			flex: 0 0 33.333%;
		}
		&.half{
			flex: 0 0 50%;
		}
		&.two-thirds{
			flex: 0 0 66.666%;
		}
		&.three-quarter{
			flex: 0 0 75%;
		}
	}

}//end flex wrap


//add margins for backless next to background widgets
.single.backless + .single:not(.backless),.single:not(.backless) + .single.backless{
	margin-top: 1em;
}
//add margin to last widget if it doesn't have a background
.single:not(.backless):last-child{
	margin-bottom: 2em;
}

//ie fallbacks
.is-ie{
	display: block;
	font-size: 0;
	.flex-wrap{
		@include inline-setup;
		@include tab{
			&.quarter,&.third{
				width: 50%;
			}
		}
		@include max-width{
			&.quarter{
				width: 25%;
			}
			&.third{
				width: 33.333%
			}
			&.half{
				width: 50%;
			}
			&.two-thirds{
				width: 66.666%;
			}
			&.three-quarter{
				width: 75%;
			}
		}
	}
}




/* PATTERN LAB ONLY
-------------- */
.pl.flex-wrap{
	.wrapper{
		background: $light-grey;
		min-height: 100px;
	}
}
